/* Styles for the Demo Wrapper */
html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}


#cal {
  margin: auto;
  padding: 10px;
  display: block;
  max-width: 90%;
  _height: auto;
}


img#adventCal {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.4);
}

#title {
  text-align: center;
  font-size: 42px;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

#message {
  font-size: 28px;
  text-align: center;
}

#author,
#author a {
  font-size: 20px;
  color:rgba(0, 0, 0, 0.4) ;
  text-align: center;
  _font-family: "Lato", sans-serif;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
body {
  margin: 0;
  background-color: #dfdddd;
  font-family: 'Brush Script MT', cursive;
  ___font-family: "Lato", sans-serif;
  padding: 15px;
}
header {
  background-color: #254d86;
}
header h1,
header a {
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}
header h1 {
  float: left;
  margin: 0;
}
header a {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  float: right;
  background-color: #1a365e;
}
header a:hover {
  background-color: #1f4272;
}
.demo-content {
  max-width: 400px;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 90px;
}

/* Styles for the Advent Calendar */
ul#adventDoors {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}
#adventDoors li {
	position: absolute;
}
#adventDoors li a {
	color: #fff;
	width: 80%;
	height: 80%;
	font-size: 24px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	border: 1px #fff solid;
  border-radius: 5px;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.7);
}
#adventDoors li a:not(.disabled):hover {
	color: #fff;
	background-color: transparent;
	background-color: rgba(255,255,255,0.15);
}
#adventDoors li a.disabled {
	border-width: 0px;
  z-index: -99;
	cursor: default;
}





/* 
  MODAL
*/
#modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(250, 220, 170, 0.2);
  width: 100%;
  height: 100%;
}

#modal .wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 25% auto;
  padding: 10px;
  border: 0px;
  width: 600px;
  height: 320px; 
  border-radius: 15px;
  box-shadow: 4px 5px 105px rgba(0, 0, 0, 0.9);
}


#modal .content {
  display: block;
  width: 550px;
  height: 300px;
  _background-color: #FFF;
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 24px;
  font-family: "Lato", sans-serif;
}

#modal .close {
  color: rgb(93, 93, 93);
  position: relative;
  top: -10px;
  __left: 10px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 5px;
  border-radius: 50px;
}

#modal .close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
